@using ProjectRickAndMorty.Resources;
@model List<CharacterModel>

<h1>@Resources.Home Characters</h1>

<form method="get">
    <label for="status">@Resources.Status:</label>
    <select name="status" id="status">
        <option value="">@Resources.All</option>
        <option value="Alive">@Resources.Alive</option>
        <option value="Dead">@Resources.Dead</option>
        <option value="unknown">@Resources.Unknown</option>
    </select>

    <label for="species">@Resources.Species:</label>
    <input type="text" name="species" id="species" />

    <label for="sortBy">@Resources.SortBy:</label>
    <select name="sortBy" id="sortBy">
        <option value="name">@Resources.Name</option>
        <option value="origin">@Resources.Origin</option>
    </select>

    <button type="submit">@Resources.Filter</button>
</form>

<table>
    <thead>
        <tr>
            <th>@Resources.Name</th>
            <th>@Resources.Status</th>
            <th>@Resources.Species</th>
            <th>@Resources.SpeciesGender</th>
            <th>@Resources.Origin</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var character in Model)
        {
            <tr>
                <td>@character.Name</td>
                <td>@character.Status</td>
                <td>@character.Species</td>
                <td>@character.Gender</td>
                <td>@character.Origin</td>
            </tr>
        }
    </tbody>
</table>
